.body-wrapper {
  min-height: $body-wrapper-min-h;
  width: $body-wrapper-w;
  position: relative;
  background-color: $bg-color;
  color: $white;
  font-family: $main-font;

  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(./../img/bg.png);
}

.container {
  width: $container-w;
  max-width: $container-max-w;
  margin: auto;
}
